*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# === Android SDK 目录
/build-tools/
/emulator/
/fonts/
/licenses/
/platform-tools/
/platforms/
/skins/
/sources/
/system-images/
.knownPackages

# === 工具/IDE 临时目录
.kotlin/
.temp/
.downloadIntermediates/